<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How Mood Detection Works</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="index-body">
    <div class="page-content">
      <h1>Why Mood Detection Matters</h1>
<img src="{{ url_for('static', filename='images/importance.jpg') }}" alt="Why It Matters" class="full-width-img">
<p>Understanding emotions fosters better relationships, reduces stress, and enhances productivity. Our mood detection tech supports mental health, education, gaming, marketing, and more.</p>
<a href="{{ url_for('main.index') }}" class="back-btn">← Back to Home</a>
 </div>
</body>
</html>
